/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://wallpaper-house.com/data/out/6/wallpaper2you_115490.jpg');
    background-size: cover;
    background-position: center;
}

.welcome-text {
    margin-bottom: 20px;
    text-align: center;
}

.welcome-text h2 {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.login-box {
    background: rgba(255, 255, 255, 0.5); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #45a049;
}

.google-login {
    margin-top: 20px;
    text-align: center;
}

.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.google-button img {
    margin-right: 8px;
}


@media (max-width: 600px) {
    .login-box {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 14px;
    }

    .login-button, .google-button {
        font-size: 14px;
    }
}
